:root {
  --inputBG: rgba(255, 255, 255, 0.5);
  --bg1: #fff;
  --bg2: #ddd;
  --text: #000;
  --paper: #ffec99;
  --border: rgba(0, 0, 0, 0.2);
  --shadow: rgba(0, 0, 0, 0.75);
  --button: rgba;
}
.dark {
  --inputBG: rgba(0, 0, 0, 0.2);
  --bg1: #000;
  --bg2: #333;
  --text: #ddd;
  --paper: #474747;
}
body {
  font-family: "Antic Slab", sans-serif;
  margin: 0;
  padding: 0;
}
input,
button {
  font-family: "Antic Slab", sans-serif;
}
button {
  cursor: pointer;
  padding: 0.5em 1em;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, var(--bg1), var(--bg2));
  color: var(--text);
}
.container {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.theme-toggle-container {
  padding: 1em;
}
.paper {
  display: flex;
  width: 100%;
  background: var(--paper);
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 42px -19px var(--shadow);
  -moz-box-shadow: 0px 0px 42px -19px var(--shadow);
  box-shadow: 0px 0px 42px -19px var(--shadow);
}
form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 0;
}
.clear {
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.7;
}
.clear:hover {
  opacity: 1;
}

input {
  color: var(--text);
  border: none;
  height: 2em;
  padding: 5px 10px;
  font-size: 1.2rem;
  background: var(--inputBG);
  border-bottom: solid 1px var(--border);
}
.empty {
  opacity: 0.4;
  margin-top: 2em;
}
.list {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  max-height: 75vh;
  overflow: auto;
}
.list li {
  border-bottom: solid 1px var(--border);
  padding: 0.5em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li .text-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.list li.done {
  background: var(--border);
}
.list li.done .text {
  text-decoration: line-through;
}
.list li small {
  font-size: 0.6em;
  margin-top: 10px;
  opacity: 0.5;
}
.list li .delete {
  cursor: pointer;
  opacity: 0.5;
  margin-right: 10px;
}
.list li .delete:hover {
  opacity: 1;
}
